TOKEN={{ token }}
USERNAME={{ username }}
WEBHOOKS_ENABLE=True
WEBHOOKS_PORT=8072
WEBHOOKS_LISTEN=0.0.0.0

APP_ID={{ lookup('env', 'APP_ID') }}
APP_HASH={{ lookup('env', 'APP_HASH') }}

MONGO_HOST=mongodb://host.containers.internal:27017
MONGO_DB=sophie

MEMORY_DEBUG=False

MODULES_NOT_LOAD=[]

REDIS_HOST=host.containers.internal
REDIS_PORT=6379
REDIS_DB_FSM=1

OWNER_ID=483808054
OPERATORS=[]

ENVIRONMENT={{ 'production-beta' if role == 'production' else 'staging-beta' }}
SENTRY_URL={{ sentry_url }}

OPENAI_KEY={{ openai_key }}
