[Unit]
Description=Sophie Proxy
Requires=mongo.service valkey.service

[Service]
ExecStartPre=/bin/sleep 5
Restart=always

[Container]
ContainerName=beta
Image={{ lookup('ansible.builtin.env','IMAGE_NAME', default='registry.gitlab.com/sophiebot/sophie') }}:{{ image_tag }}
PublishPort=8072:8072
PodmanArgs=--memory=1500M
EnvironmentFile=/var/sophie/beta.env

[Install]
WantedBy=multi-user.target default.target
