[Unit]
Description=Sophie Scheduler
Requires=mongo.service valkey.service

[Service]
ExecStartPre=/bin/sleep 5
Restart=always

[Container]
ContainerName=scheduler
Image={{ lookup('ansible.builtin.env','IMAGE_NAME', default='registry.gitlab.com/sophiebot/sophie') }}:{{ image_tag }}
PublishPort=8073:8073
PodmanArgs=--memory=1G
Environment=MODE=scheduler
EnvironmentFile=/var/sophie/scheduler.env

[Install]
WantedBy=multi-user.target default.target
