[Unit]
Description=Sophie Stable
Requires=mongo.service valkey.service

[Service]
ExecStartPre=/bin/sleep 20
Restart=always

[Container]
ContainerName=stable
Image={{ lookup('ansible.builtin.env','IMAGE_NAME', default='registry.gitlab.com/sophiebot/sophie') }}:{{ image_tag }}
PublishPort=8071:8071
PodmanArgs=--memory=1500M
EnvironmentFile=/var/sophie/stable.env

[Install]
WantedBy=multi-user.target default.target
