TOKEN={{ token }}
USERNAME={{ username }}
#WEBHOOKS_ENABLE=True
#WEBHOOKS_PORT=8071
#WEBHOOKS_LISTEN=0.0.0.0

APP_ID={{ lookup('env', 'APP_ID') }}
APP_HASH={{ lookup('env', 'APP_HASH') }}

MONGO_HOST=mongodb://host.containers.internal:27017
MONGO_DB=sophie

MODULES_NOT_LOAD=[]

REDIS_HOST=host.containers.internal
REDIS_PORT=6379
REDIS_DB_FSM=1

OWNER_ID=483808054
OPERATORS=[]

PROXY_ENABLE=True
PROXY_STABLE_INSTANCE_URL=http://host.containers.internal:8071
PROXY_BETA_INSTANCE_URL=http://host.containers.internal:8072
PROXY_ALWAYS_BETA={{ 'False' if role == 'production' else 'True' }}

ENVIRONMENT={{ 'production-stable' if role == 'production' else 'staging-stable' }}
SENTRY_URL={{ sentry_url }}

OPENAI_KEY={{ openai_key }}
